sudo: false
language: node_js
node_js:
- 7
cache:
  directories:
  - node_modules
before_install:
- npm install codecov.io coveralls
after_success:
- cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js
- cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
branches:
  only:
  - master
  - /v\d+\.\d+/
deploy:
  provider: npm
  email: thai.p+bot@taskworld.com
  api_key:
    secure: 1FwNfFvaRUBP1TfIxSYTKjWxhNlFkcDf5+aOqsoO7tgAq8nvKGshe8HxB2cmLRu/8zgB4gyNJOFfmdQXocbev0jFj3mLP01LjnFTdyXuWO9sWzsTJb6GZOfelZapYLr/nn6eoHCZG5MHX6t0MekNu7sDsdm1AorTeJlWplBEGR/yEzlwrj7voKU0YDnA8TqwDBilkPkHTG60FK/aYgKHOh2AZC73UZnIUn8h6Tv006p3SuG/H7pEXbXdbVxb9R1objnqgS/EZNLqJ5f/DThlEUHLQPtrOCQ65dwmMgN24dqcF6aj6R9SlfA34/okqlGR5gfEMeZTv50auoOqjlA3g/OlkOWUMfnd9qpDxAYi0JDd4VpQgykOrt+B1WMUoHumSi/SJmmWlKMZd076OYmChysuXADIA89i0i5+JhaYeRc70bMfOfczgN0PPzYx+k/tgDKtYDJjGo5OhHJUzruKNTcDgV6Td4WiLvRXRy7/Bw8xo4jdl4EsYoofCK8HhT6nCsS1CEfTNCEFukRVMJmRrW/Hc9pvqGL1wAAhztHZhyBizU6XaOSeGKMtV689JqdeK4OhrqKoPyuNzX1iBoarIYP0Y5LQLnIAClTwdmG9z73gAmdeb+lGTDJo1yKwoYpvQVnz8CbqCqtUoPHWCQrRkuE63EKSlDMOl+1FyJfIiVA=
  on:
    tags: true
    repo: taskworld/react-warp-portal
